<div class="info">
    <div class="info-img">
        <img src="{{reference_image_id}}" alt="{{name}}">
    </div>
    <div class="info-body">
        <h2 class="info-title">{{name}}</h2>
        <p class="info-description">{{description}}</p>
        <p class="info-temperament">{{temperament}}</p>
    </div>
</div>

