{{!-- <div class="info">
    <div class="img">
       <img src="{{url}}" alt="" width="850px" height="420px">
    </div>
    
    <div class="info-body">
        {{#each breeds}}
        <h2 class="info-title">{{weight.name}}</h2>
        <p class="info-description">{{weight.description}}</p>
        <p class="info-temperament">{{weight.temperament}}</p>
{{each}}
    </div>
</div> --}}
